.sign-in-container {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    width: 380px;

    h2 {
        margin: 10px 0;
    }
    .buttons-container {
        display: flex;
        justify-content: space-between;
    }
}
=======
  display: flex;
  flex-direction: column;
  width: 380px;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}
>>>>>>> 2f16e5b390155682bc1f79e8fccb62717b4a7e5e
