.sign-up-container {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    width: 380px;

    h2 {
        margin: 10px 0;
    }
}
=======
  display: flex;
  flex-direction: column;
  width: 380px;

  h2 {
    margin: 10px 0;
  }
}
>>>>>>> 2f16e5b390155682bc1f79e8fccb62717b4a7e5e
