<<<<<<< HEAD
.categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
=======
.directory-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
>>>>>>> 2f16e5b390155682bc1f79e8fccb62717b4a7e5e
