<<<<<<< HEAD
.authentication-container{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 30px auto;
}
=======
.authentication-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin: 30px auto;
}
>>>>>>> 2f16e5b390155682bc1f79e8fccb62717b4a7e5e
