body {
  margin: 0;
  padding: 20px 40px;
<<<<<<< HEAD
  font-family: 'Open Sans', sans-serif;
=======
  font-family: 'Open Sans Condensed', sans-serif;
>>>>>>> 2f16e5b390155682bc1f79e8fccb62717b4a7e5e
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
<<<<<<< HEAD
}
=======
}
>>>>>>> 2f16e5b390155682bc1f79e8fccb62717b4a7e5e
